In [1]:
#imports
import pandas as pd
import numpy as np
from bs4 import BeautifulSoup
import requests

In [2]:
# Initialize empty lists for storing data
reviews = []
stars = []
dates = []
countries = []

# Loop through the pages (1 to 35)
for i in range(1, 36):
    # Construct the URL dynamically
    url = f"https://www.airlinequality.com/airline-reviews/british-airways/page/{i}/?sortby=post_date%3ADesc&pagesize=100"
    
    # Send the GET request
    page = requests.get(url)
    
    # Parse the content of the page
    soup = BeautifulSoup(page.content, "html.parser")
    
    # Scraping reviews
    for item in soup.find_all("div", class_="text_content"):
        reviews.append(item.text.strip())
    
    # Scraping star ratings
    for item in soup.find_all("div", class_="rating-10"):
        try:
            stars.append(item.span.text.strip())
        except Exception as e:
            print(f"Error on page {i} for stars: {e}")
            stars.append("None")
    
    # Scraping dates
    for item in soup.find_all("time"):
        dates.append(item.text.strip())
    
    # Scraping country names
    for item in soup.find_all("h3"):
        try:
            country_name = item.span.next_sibling.text.strip(" ()")
            countries.append(country_name)
        except Exception as e:
            print(f"Error on page {i} for country: {e}")
            countries.append("Unknown")

# Display the number of items scraped for verification
print(f"Total Reviews: {len(reviews)}")
print(f"Total Stars: {len(stars)}")
print(f"Total Dates: {len(dates)}")
print(f"Total Countries: {len(countries)}")

Error on page 34 for stars: 'NoneType' object has no attribute 'text'
Error on page 35 for stars: 'NoneType' object has no attribute 'text'
Error on page 35 for stars: 'NoneType' object has no attribute 'text'
Total Reviews: 3500
Total Stars: 3535
Total Dates: 3500
Total Countries: 3500

In [3]:
# Ensure all lists have the same length
min_length = min(len(reviews), len(stars), len(dates), len(countries))

# Trim all lists to the minimum length
reviews = reviews[:min_length]
stars = stars[:min_length]
dates = dates[:min_length]
countries = countries[:min_length]

In [4]:
len(reviews)

3500

In [5]:
len(stars)

3500

In [6]:
len(dates)

3500

In [7]:
len(countries)

3500

In [8]:
# Create a DataFrame from the collected lists
df = pd.DataFrame({
    "reviews": reviews,
    "stars": stars,
    "date": dates,   # Use 'dates' instead of 'date'
    "country": countries  # Use 'countries' instead of 'country'
})

# Display the first few rows of the DataFrame
df.head()

,reviews,stars,date,country
0,Not Verified | The worst airline I have ever f...,5,13th November 2024,Australia
1,"✅ Trip Verified | Disappointing service, pla...",1,8th November 2024,Iceland
2,✅ Trip Verified | A transit visa is required...,3,8th November 2024,Singapore
3,✅ Trip Verified | I was surprised to receive...,1,7th November 2024,Turkey
4,"✅ Trip Verified | Flight cancelled, not refu...",3,7th November 2024,Canada

In [9]:
df.shape

(3500, 4)

#### Export the data into a csv format

In [10]:
# Export the DataFrame to a CSV file
df.to_csv('BA_Reviews.csv', index=False)  # Set index=False to avoid exporting the index

In [11]:
df.head()

,reviews,stars,date,country
0,Not Verified | The worst airline I have ever f...,5,13th November 2024,Australia
1,"✅ Trip Verified | Disappointing service, pla...",1,8th November 2024,Iceland
2,✅ Trip Verified | A transit visa is required...,3,8th November 2024,Singapore
3,✅ Trip Verified | I was surprised to receive...,1,7th November 2024,Turkey
4,"✅ Trip Verified | Flight cancelled, not refu...",3,7th November 2024,Canada